.messageFlex{
    display: flex;
}
.connect{

    color: green;
}
.disconnect{
    color: red;
}
.Sender{
    color: orange;
}
li{
    margin-left: 12px;
    display: flex;
    flex-direction: column-reverse;
}
h3{
    margin-left: 12px; font-weight: 300; color: rgba(219, 211, 209, 0.886);
  
}