.container__messages{
    color: rgba(219, 211, 209, 0.886);
}
.container__message{
    display: flex;
    list-style: none;

    font-weight: 300;
}
p{
    color: rgba(205, 63, 63, 0.7);
}
li{
    margin-left: 12px;
}