.container__user{

  width: 100%;
    
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    
   box-shadow: -1px -1px 8px -1px rgba(42, 41, 40, 0.155);
    
}
.container__user:hover{
    cursor: pointer;
    background-color: rgba(5, 3, 3, 0.782);
}
.user__firstname{

    margin-left: 12px;
    font-size: 13px;
    font-weight: 700;
    user-select: none;

    color: rgba(83, 160, 16, 0.925);
}
.user__firstname:hover{
    cursor: pointer;
    color: rgba(237, 240, 233, 0.816);
}
.user__image{

    width: 20px;
    border-radius: 50%;
    background-color: rgb(168, 171, 165);
    
}
.user__image:hover{
    cursor: pointer;
}

  .sound-emission {
    width: 30px;
    height: 10px;
    background-color: rgb(206, 11, 11);
    position: relative;
 margin-left: 5px;
transform-origin: left;
border-radius: 40px;
     /* Aplica la rotación de 45 grados */
     animation: sound-emission .5s infinite linear;
   
  }
  @keyframes sound-emission {
   0%,5%,10%,20%,25% {
      transform: scaleX(.4);
    }
    20%, 80% {
      transform: scaleX(1.2);
    }
  }