.main__chatPage{

    width: 90%;
    height: 90%;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    background-color: rgba(26, 25, 25, 0.853);
}

.main__conversations{
    
    display: flex;
}
.activeConver{
    background-color: green;
}
.chat__container{

    width: 90%;
    height: 90%;
    background-color: rgba(2, 28, 40, 0.685);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.chat__lienzo{

    overflow-y: auto;

    width: 95%;
    height: 95%;
   
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
    border: .2px solid rgba(205, 201, 201, 0.597);
    background-color: rgba(10, 10, 10, 0.928);
    box-shadow: -1px -1px 12px -1px rgba(84, 196, 177, 0.85);
    scroll-snap-type: y mandatory;
    scrollbar-width: 12px;  
   
}
.chat__lienzo::-webkit-scrollbar {
    background: rgb(5, 5, 4);
    width: 9px;
    height: 12px; 
    max-height: 10%; height: 10%;
         /* color of the tracking area */
}
.chat__lienzo::-webkit-scrollbar-thumb {
    background-color: rgba(81, 21, 21, 0.554);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: .3px solid rgb(12, 12, 11);
    max-height: 10px; height: 10px;  /* creates padding around scroll thumb */
}
.chat__lienzo::-webkit-scrollbar-button{
    height: 12px;
}
.ul__chat{
    margin-left: 5px;
    padding-bottom: 25px;
    padding-top: 25px;

  
    font-weight: 559;
    scroll-snap-align: end;
    color: rgba(61, 58, 58, 0.522);

    text-decoration: none;
    list-style: none;
}

.chat__container__input{

    width: 95%;
    height: 30px;
  
    position: absolute;
    bottom: 0;
}
.chat__input{
    width: 94%;
    height: 100%;

    border: none;
    outline: none;

    background-color: rgba(251, 253, 255, 0.79);
    
}
.chat__send{

    height: 100%;

    padding: 4px;

    border: none;

    border: .2px double rgba(255, 255, 255, 0.624);

    background-color: black;
    color: rgb(193, 183, 183);
    
    text-align: end;
}
.chat__send:hover{

    cursor: pointer;
}


.title__users{

    width: 100px;

    font-weight: 400;
    font-size: 20px;

    position: absolute;

    right: 10px;
    top:28px;

    font-weight: 600;
    text-align: center;

    border-top: .1px dashed white;
    color: rgba(8, 8, 7, 0.646);
    background-color: rgb(224, 98, 98);
    box-shadow: -1px -1px 12px -1px rgba(238, 229, 197, 0.85);
}
.container__users{

    height: 90%;
    width: max-content;
    
    padding: 12px;
    right: 0px;

    position: absolute;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.782);
}
.container__users::-webkit-scrollbar{
    display: none;
}
