.principal {
    
    height: 100vh;
    background-color: rgba(18, 104, 191, 0.85);
    

    position: relative;

    
}
.container__modal{

    width: 200px;
    height: 100px;

    position: absolute;
    z-index: 3;
    font-weight: 200;
    left:40%;
    top:30%;

    display: flex;
  
    align-items: center;

    border: 5px solid rgba(190, 12, 12, 0.527);
    background-color: rgba(0, 0, 0, 0.907);
    color: rgba(255, 247, 247, 0.815);
}

.image__notice{

    width: 500x;
}
.container__phrase{

    margin-left: 12px;
    font-weight: 200;
}